@{
    ViewBag.Title = "Välkommen";
}
<h2>@ViewBag.Title.</h2>
<h3>"Välkommen " @ViewBag.UserName "!"</h3>

<h3>Statistik</h3>
<table>
    <tr>
        <td>Vunna</td>
        <td>Förlorade</td>
    </tr>
    <tr>
        <td>@ViewBag.Won</td>
        <td>@ViewBag.Lost</td>
    </tr>
</table>
<h3>Pågående Matcher</h3>
<table>

</table>
